html,
body,
#root {
  height: 100%;
}

#root > .ant-layout {
  height: 100%;
}

.app-header {
  color: white;
}

.ant-table-tbody > tr:focus {
  background-color: rgb(238, 235, 235);
  border: none;
}
