/*------------------------------------------*/
.panel-header {
  color: var(--panel-title);
  font-size: 1.4em;
  font-weight: 300;
  text-transform: capitalize;
  border-bottom: 1px solid;
  margin-bottom: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*------------------------------------------*/
.panel-icon {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-left: auto;
  margin-right: 0;
  height: 1.4em;
}

/*------------------------------------------*/
.icon-tray {
  padding-top: 4px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border-top: 1px dashed var(--lightgrey-color);
  background-color: var(--lightgrey-color);
}

.no-dec {
  text-decoration: none !important;
}
