/*------------------------------------------*/
.dt-icon-tray-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border-right: var(--at-border2);
  padding-top: 5px;
  padding-right: 7px;
}

/*------------------------------------------*/
.dt-icon-tray-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: end;
  padding-top: 5px;
  padding-right: 4px;
}
