/*------------------------------------------*/
.whole-page {
  --this-gutter: var(--gutter-whole-page);
  --parent-gutter: var(--gutter-body);
  --parent-border: 3px;

  margin: var(--parent-gutter);
  padding-bottom: var(--this-gutter);
  width: calc(100vw - calc(var(--parent-gutter) * 2) - calc(var(--parent-border) * 2));
  height: calc(100vh - calc(var(--parent-gutter) * 2) - calc(var(--parent-border) * 2) - calc(var(--this-gutter) * 2));
  min-height: calc(50px + 300px + 25px);

  border: ridge 3px var(--lightgrey-color);

  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);

  display: grid;
  grid-template-rows: minmax(50px, 70px) minmax(300px, auto) minmax(25px, 60px);
  grid-template-areas:
    'page-header'
    'page-content'
    'page-footer';
}
.whole-page > div {
  padding-bottom: 0px !important;
  margin: var(--gutter-whole-page) var(--gutter-whole-page) 0px var(--gutter-whole-page);
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}
